<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sign In</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form id="signin" [formGroup]="signInForm" (submit)="signIn(signInForm.value)">
      <ion-list>
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input type = "email" placeholder ="user@example.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password: </ion-label>
            <ion-input type = "password" placeholder ="minimum 6 characters" formControlName="password"></ion-input>
          </ion-item>
  
      </ion-list>
      <ion-button type="submit" [disabled]="!signInForm.valid">Sign IN!</ion-button>
      <ion-item lines="none">Don't you have an account yet?<a routerLink="/signup"> SIGN UP</a></ion-item>
    </form>
  
  </ion-content>
  